<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div th:if="${session.loginEmail}">
    <div th:if="${session.loginEmail.toString().equals('admin')}">
        <a href="/member/admin" class="btn btn-warning">관리자모드</a>
    </div>
    <a href="/member/logout" class="btn btn-danger">로그아웃</a>
    <a href="/board/save" class="btn btn-dark">글쓰기</a>
</div>
<div th:unless="${session.loginEmail}">
    <a href="/member/login" class="btn btn-primary">로그인</a>
</div>
</body>
</html>