<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
     <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!--  //시간설정-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="container">
  <table class="table table-hover table-striped mt-5">
    <tr>
      <th>번호</th>
      <td th:text="${board.id}"></td>
    </tr>
    <tr>
      <th>작성자</th>
      <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
      <th>제목</th>
      <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
      <th>내용</th>
      <td th:text="${board.boardContents}"></td>
    </tr>
    <tr th:if="${board.fileAttached_board == 1}">
      <th>파일</th>
        <td th:each="fileName: ${board.storedFileName_board}">
            <img th:src="@{|/upload/${fileName}}" alt="" width="200" height="200"></td>
    </tr>
    <tr>
      <th>작성시간</th>
      <td th:text="*{#temporals.format(board.boardCreatedDate,'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    <tr>
      <th>조회수</th>
      <td th:text="${board.boardHits}"></td>
    </tr>
  </table>
<div>
    <button class="btn btn-primary" onclick="listReq()" style="float: left">목록</button>
    <div th:if="${session.loginEmail} == ${board.boardWriter}">
    <button class="btn btn-warning" onclick="updateReq()" style="float: right">수정</button>
    </div>
    <div th:block th:switch="${session.loginEmail}">
        <span th:case="'admin'">
          <button class="btn btn-danger" onclick="deleteReq()" style="float: right">삭제</button>
        </span>
        <span th:case="${board.boardWriter}">
          <button class="btn btn-danger" onclick="deleteReq()" style="float: right">삭제</button>
        </span>
    </div>
</div>
</div>
</body>
<script>
const listReq = () => {
  location.href="/board/paging/";
}
const updateReq = () => {
  const id = [[${board.id}]];
  location.href="/board/update/"+id;
}
const deleteReq = () => {
  const id = [[${board.id}]];
  location.href="/board/delete/"+id;
}
</script>
</html>